
/venv/
/env/
/.venv/
/activate
pip-selfcheck.json

/chroma_db/

/.vscode/
/.idea/
*.swp
*.swo

__pycache__/
*.pyc
*.pyo
*.pyd

/build/
/dist/
/*.egg-info/
/wheels/
/pip-wheel-metadata/
/share/python-wheels/

.env
*.env


*.log
/logs/
/tmp/

.DS_Store
Thumbs.db